html
  head
    title= title
    style
      include style.css
  body
    h1= title 
      h2= `dir : ${path}`
  ul
   
    for val in files
        li
            if val.isDir
                    a(href=`/${val.path}`)
                      p='📁' 
                      p=`${val.name}` 
                    a(href=`/download/${val.path}`)
                        img(src="tar.png")
            else 
                a(href=`/download/${val.path}`)
                  img(src=`svg/${val.icon}`)
                  p=val.name

        